!!!
%html
  %head
    %title Base Rails App - Start all your rails apps with this base
    = include_stylesheets :common, :media => 'all' 
    = csrf_meta_tag
  %body
    %header
      Songs played by the world
    = yield
    = include_javascripts :common